<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script>
    const ROOM_ID =  window.location.pathname.split('/').pop();
  </script>
  <!-- <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script> -->
  <script defer src="public/peerjs.min.js"></script>
  <link rel="stylesheet" href="style.css">

  <title>Video Conferencing</title>

</head>
<body>
  <div id="video-grid"></div>
  <button id="start-share-button" onclick="toggleShare()">Start Share</button>
  <button id="stop-share-button" onclick="toggleShare()" style="display: none;">Stop Share</button>

  <div id="chat-box">
    <div id="messages"></div>
    <input type="text" id="message-input" placeholder="Type your message...">
    <button onclick="sendMessage()">Send</button>
  </div>
  <script src="/public/script.js" defer></script>
</body>
</html>
